body {
  margin: 0;
  font-family: system-ui;
  background: #f5f6fa;
}

/* APP */
.app {
  padding-bottom: 70px;
}

/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: white;
  border-top: 1px solid #ddd;
}

.bottom-nav button {
  flex: 1;
  padding: 14px;
  border: none;
  background: none;
}

/* PAGE */
.page {
  padding: 12px;
}

/* CARD */
.card {
  background: white;
  padding: 16px;
  border-radius: 16px;
  margin-bottom: 12px;
}

.card.big {
  min-height: 200px;
}

/* MAP */
.map {
  height: 150px;
  background: #ddd;
  border-radius: 12px;
}

/* CALENDAR */
.calendar {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 6px;
}

.day {
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  font-size: 12px;
}

.day.green {
  background: #4caf50;
  color: white;
}

.day.weekend {
  background: #fbc02d;
}

/* TIME */
.user-switch {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
}

.user-switch button {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #eee;
}

.user-switch .active {
  background: black;
  color: white;
}

.time-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.time-row input {
  width: 80px;
}
